.about-main-container {
    height: 100vh;
    width: 100%;
}

.about-content-wrapper {
    position: absolute;
    margin-top: 50px;
    margin-left: 25px;
}

.about-bryan, 
.about-mccoy{
    font-size: 60pt;
    font-weight: bold;
}

.about-bryan {
    color: #033750;
    /* color: #06425e; */
    /* color:  #f7ce3e; */
    }
.about-mccoy {
    /* color: #1a2930; */

    color:  #d6b437;
}

.about-dot{
color:
  #f7ce3e;

}
