.experience-main-container {
    height: 100vh;
    width: 100%;
    border-top-style: solid;
    border-top-width: .01em; 
    border-top-color: #1a2930;
}
.experience-content-wrapper {
    margin-top: 50px;
    margin-left: 25px;
}

.experience-my, 
.experience-job{
    font-size: 40pt;
    font-weight: bold;
}

.experience-my{
    color: #1a2930;
}

.experience-mccoy{

}