.sideNav-outer-container {
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1a2930;
    color: white;
}

.sideNav-inner-nav {
    margin: auto;
    padding-top: 50px;
    color: white;
    text-align: center;
    font-size: 17pt;
}
.sideNav-inner-nav a {
    text-decoration: none;
    color: white;
}

.sideNav-inner-nav li,
.sideNav-inner-nav ul
 {
    list-style-type: none;
    margin: 13px 0 13px 0;
    padding: 0 0 0 0;
}
/** 
#c5c1c0 gray
#0a1612 black
#1a2930 blue'ish
#f7ce3e yellow

*/